@{
    ViewBag.Title = "Index";
    Layout = null;
    <!DOCTYPE HTML>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>TCMB - Exchange Rates</title>
        <script src="~/Scripts/3rd/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/3rd/jquery.dataTables.min.js"></script>
        <link href="~/Scripts/3rd/jquery.dataTables.min.css" rel="stylesheet" />
        <script src="~/Scripts/3rd/jquery-ui.js"></script>
        <link href="~/Scripts/3rd/jquery-ui.css" rel="stylesheet" />
        <script src="~/Scripts/3rd/jquery.signalR.min.js"></script>
        <script src="~/Scripts/TCMB.js"></script>
        <script>
            $(function () {
                TCMB.Event.Onload();
            });
        </script>
    </head>
    <body>
    <div>
        <div style="float: left;">Date: <input type="text" id="DatePicker-ExchangeRate"></div>
        <div style="float: right;"><select id="Select-Language" onchange="TCMB.Handler.LanguageChange();"><option value="1">English</option><option value="2">Türkçe</option></select></div>
    </div>
    <table id="Table-ExchangeRates" class="display nowrap dataTable dtr-inline collapsed" cellspacing="0" width="100%"></table>
    </body>
    </html>
}